:root {
  --background: rgb(118, 183, 221);
  --sheet: rgb(189, 189, 189);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

body {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  flex-direction: column;
}
h1 {
  font-size: 50px;
}
#content-mid {
  display: flex;
  gap: 50px;
}

#container-controls {
  display: flex;
  flex-direction: column;
}

#color,
#size-value {
  margin: 0 auto;
}

#container-sheet {
  width: 500px;
  height: 500px;
  display: grid;
  background-color: var(--sheet);
  grid-template: repeat(16, 1fr) / repeat(16, 1fr);
  /* grid-template-rows: repeat(16, 1fr); */
  border: 1px solid black;
  position: relative;
  padding: 0.1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}

/* Class to show and hide grid lines */
.grid-lines {
  gap: 1px;
}

.row-container {
  background-color: white;
}

/* RESPONSIVE FOR BIG SCREEN */
@media (min-width: 1400px) {
  .grid-lines {
    gap: 0.2em;
  }
  #container-sheet {
    width: 1000px;
    height: 1000px;
    flex: 1;
  }
}

@media (min-width: 2000px) {
  .grid-lines {
    gap: 0.4999em;
  }
  #container-sheet {
    width: 1500px;
    height: 1500px;
    flex: 1;
  }
}
