:root {
  --background-color: #f3767c;
  --calculator-background-color: #2b2a2d;
  --btn-down-background-color: #58595b;
  --btn-top-background-color: #110d0f;
  --btn-equal-background-color: #f15a2a;
  --screen-background-color: #a2af77;
  --font-color: #f8f8f8;
  --width-calculator-start: 327px;
  --height-calculator-start: 418px;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  gap: calc(var(--height-calculator-start) * 5.741 / 100);
  width: var(--width-calculator-start);
  height: var(--height-calculator-start);
  padding: calc(6.459 * var(--height-calculator-start) / 100)
    calc(var(--width-calculator-start) * 6.459 / 100);
  background-color: var(--calculator-background-color);
  border-radius: 4%/4%;
}

#calculator-screen {
  background-color: var(--screen-background-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(18.375 * var(--height-calculator-start) / 100); /* 21.4%; */
  border-radius: 7%/17%;
  padding: 2%;
  border: 1px solid #8d976a;
}

#calculator-screen .screen {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--btn-top-background-color);
  font-family: sans-serif;
}

#result {
  height: 30%;
  justify-content: flex-end;
  font-size: 0.7rem;
}
#operator {
  height: 20%;
  font-size: 1rem;
}
#current {
  height: 50%;
  justify-content: flex-end;
  font-size: 1rem;
}

#current,
#result {
  text-align: right;
}

#calculator-btn {
  box-sizing: border-box;
  width: 100%;
  flex-grow: 1;
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: calc(var(--height-calculator-start) * 3.625 / 100);
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.btn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
  box-sizing: border-box;
  cursor: pointer;
}

.top {
  background-color: var(--btn-top-background-color);
}

.down {
  background-color: var(--btn-down-background-color);
}
.equal {
  background-color: var(--btn-equal-background-color);
  grid-column: 4;
  grid-row: 4 / span 2;
}
.btn:hover {
  border-bottom: solid 1px var(--font-color);
  opacity: 0.7;
}

@media (min-width: 768px) {
  :root {
    --width-calculator-start: 465px;
    --height-calculator-start: 600px;
    font-size: 30px;
  }
}

@media (max-width: 1024px) {
  .btn:hover {
    border-bottom: none;
    opacity: 1;
  }
  .btn:active {
    border-bottom: solid 1px var(--font-color);
    opacity: 0.7;
  }
}
